# =====================
# Data (NEVER COMMIT)
# =====================
datasets/
data/
*.csv
reports/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
.env
.venv
venv/

# =====================
# ML Artifacts
# =====================
*.h5
*.ckpt
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
